.title-bar
  height: 19px
  margin: 0
  padding: 0

  a
    display: inline-block
    margin: 2px 2px 3px 2px
    width: 12px
    height: 12px

    .osx
      border-radius: 100%
      float: left
      background: #F36